<!-- 📚 Cursos -->
<div class="col-md-4 d-flex flex-column">
    <h5 class="mb-2">📚 Cursos</h5>
    <div class="contenedor-uniforme flex-grow-1 bg-white rounded shadow-sm p-2">
        


        <!-- Checkbox "Seleccionar todos" -->
        <div class="form-check mb-2">
            <input class="form-check-input me-2" type="checkbox" id="seleccionarTodosCursos" onclick="toggleTodosCheckbox(this)">
            <label class="form-check-label fw-semibold" for="seleccionarTodosCursos">Seleccionar todos</label>
        </div>

        <!-- Lista de cursos -->
        <div class="columna-scroll d-flex flex-column">
            <ul id="lista-cursos" class="list-group flex-grow-1">
                {% for curso in cursos %}
                    <li class="list-group-item curso-item d-flex align-items-center justify-content-between" draggable="true" data-curso-id="{{ curso.id }}">
                        <div class="d-flex align-items-center">
                            <input type="checkbox" class="curso-checkbox form-check-input me-2">
                            <span class="texto-curso">{{ curso.titulo }}</span>
                        </div>
                    </li>


                {% endfor %}
            </ul>
        </div>
    </div>
</div>
