<div id="cancelacionesModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full hidden" style="z-index: 51;">
    <div class="relative top-20 mx-auto border w-full max-w-4xl shadow-lg rounded-md bg-white">
        <div class="flex flex-col space-y-1.5 p-6 bg-slate-50 border-b">
            <div class="flex items-center justify-between">
                <div>
                    <h3 class="tracking-tight text-xl font-bold">Registro de Cancelaciones</h3>
                    <p class="text-sm text-muted-foreground">Administre los registros de cancelaciones</p>
                </div>
                <button type="button" onclick="closecancelacionesModal()" class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:bg-accent hover:text-accent-foreground h-10 w-10 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x h-4 w-4">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                    <span class="sr-only">Cerrar</span>
                </button>
            </div>
        </div>
        <div class="p-6">
            <div class="rounded-md border overflow-hidden">
                <div class="relative w-full overflow-auto">
                    <table id="cancelacionesTable" class="w-full caption-bottom text-sm">
                        <thead class="[&_tr]:border-black bg-black text-white center">
                            <tr class="border-b transition-colors  data-[state=selected]:bg-slate-50">
                                <th class="h-12 px-4 align-middle font-medium [&_:has([role=checkbox])]:pr-0 w-16 text-center text-center">Secue</th>
                                <th class="h-12 px-4 text-center align-middle font-medium [&_:has([role=checkbox])]:pr-0">Descripción</th>
                                <th class="h-12 px-4 align-middle font-medium [&_:has([role=checkbox])]:pr-0 text-center">Monto</th>
                                <th class="h-12 px-4 align-middle font-medium [&_:has([role=checkbox])]:pr-0 text-center">Mensualid</th>
                            </tr>
                        </thead>
                        <tbody id="cancelacionesBody" class="[&amp;_tr:last-child]:border-0">
                            <tr class="border-b transition-colors hover:bg-slate-50/50 data-[state=selected]:bg-slate-50">
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-center font-medium">1</td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0"><div class="mx-4 col-span-4 text-center center">{{ form.cancDescripcion1 }}</div></td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-right"><div class="mx-4 col-span-4 text-center center">{{ form.cancMonto1 }}</div></td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-right"><div class="mx-4 col-span-4 text-center center">{{ form.cancMensualidad1 }}</div></td>
                            </tr>
                            <tr class="border-b transition-colors hover:bg-slate-50/50 data-[state=selected]:bg-slate-50">
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-center font-medium">2</td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0"><div class="mx-4 col-span-4 text-center center">{{ form.cancDescripcion2 }}</div></td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-right"><div class="mx-4 col-span-4 text-center center">{{ form.cancMonto2 }}</div></td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-right"><div class="mx-4 col-span-4 text-center center">{{ form.cancMensualidad2 }}</div></td>
                            </tr>
                            <tr class="border-b transition-colors hover:bg-slate-50/50 data-[state=selected]:bg-slate-50">
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-center font-medium">3</td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0"><div class="mx-4 col-span-4 text-center center">{{ form.cancDescripcion3 }}</div></td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-right"><div class="mx-4 col-span-4 text-center center">{{ form.cancMonto3 }}</div></td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-right"><div class="mx-4 col-span-4 text-center center">{{ form.cancMensualidad3 }}</div></td>
                            </tr>
                            <tr class="border-b transition-colors hover:bg-slate-50/50 data-[state=selected]:bg-slate-50">
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-center font-medium">4</td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0"><div class="mx-4 col-span-4 text-center center">{{ form.cancDescripcion4 }}</div></td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-right"><div class="mx-4 col-span-4 text-center center">{{ form.cancMonto4 }}</div></td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-right"><div class="mx-4 col-span-4 text-center center">{{ form.cancMensualidad4 }}</div></td>
                            </tr>
                            <tr class="border-b transition-colors hover:bg-slate-50/50 data-[state=selected]:bg-slate-50">
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-center font-medium">5</td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0"><div class="mx-4 col-span-4 text-center center">{{ form.cancDescripcion5 }}</div></td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-right"><div class="mx-4 col-span-4 text-center center">{{ form.cancMonto5 }}</div></td>
                                <td class="p-4 align-middle [&amp;_:has([role=checkbox])]:pr-0 text-right"><div class="mx-4 col-span-4 text-center center">{{ form.cancMensualidad5 }}</div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--
            <div class="mt-4 flex justify-end gap-8">
                <div class="text-sm">
                    <span class="text-muted-foreground">Total Monto:</span>
                    <span id="totalMonto" class="font-semibold">$0.00</span>
                </div>
                <div class="text-sm">
                    <span class="text-muted-foreground">Total Mensualid:</span>
                    <span id="totalMensualid" class="font-semibold">$0.00</span>
                </div>
            </div>
            -->
        </div>
        <div class="items-center flex justify-between border-t p-4 bg-slate-50">
            <div class="flex gap-2">
                <!--
                <button type="button" onclick="addRow()" class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-blue-500 text-white hover:bg-blue-600 h-10 px-4 py-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus h-4 w-4 mr-2">
                        <path d="M5 12h14"></path>
                        <path d="M12 5v14"></path>
                    </svg>
                    Agregar
                </button>
                -->
            </div>
            <button type="button" onclick="closecancelacionesModal()" class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-black text-white hover:bg-black/90 h-10 px-4 py-2">
                Salir
            </button>
        </div>
    </div>
</div>
<script>
    function opencancelacionesModal() {
        document.getElementById('cancelacionesModal').classList.remove('hidden');
        console.log('cancelacionesModal opened');
    }

    function closecancelacionesModal() {
        document.getElementById('cancelacionesModal').classList.add('hidden');
    }

    

    function calculateTotals() {
        const montoInputs = document.querySelectorAll('#cancelacionesBody .monto-input');
        const mensualidInputs = document.querySelectorAll('#cancelacionesBody .mensualid-input');
        let totalMonto = 0;
        let totalMensualid = 0;

        montoInputs.forEach(input => {
            const value = parseFloat(input.textContent.trim()) || 0;
            totalMonto += value;
        });

        mensualidInputs.forEach(input => {
            const value = parseFloat(input.textContent.trim()) || 0;
            totalMensualid += value;
        });

        document.getElementById('totalMonto').textContent = `$${totalMonto.toFixed(2)}`;
        document.getElementById('totalMensualid').textContent = `$${totalMensualid.toFixed(2)}`;
    }

   
</script>