<div id="codeudorModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full hidden" style="z-index: 51;">
    <div class="relative top-20 mx-auto p-5 border w-full max-w-4xl shadow-lg rounded-md bg-white">
        <div class="mt-3 max-h-[80vh] overflow-y-auto">
            <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 justify-between">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Detalles del Codeudor</h3>
                <button type="button" class="text-gray-500 hover:text-gray-700" onclick="closecodeudorModal()">×</button>
            </div>
            <!--  Inicio contenido-->
               <!--detalles codeudor-->
            <div class="mt-4">
                <label for="id_aplicaCodeudor" class="block text-sm  font-medium text-gray-700">¿Aplica Codeudor?</label>
                {{form.aplicaCodeudor}}
                <div id="sectionDetallesCodeudor" class="flex-1 rounded-lg mb-2 mt-2" 
                    {% if form.aplicaCodeudor.value != 'si' %} style="display: none;" {% endif %}>
                    <div class="flex space-x-4">
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorNombre" class="block text-sm font-medium text-gray-700 mb-1">Nombre del Codeudor</label>
                            {{ form.codeudorNombre }}
                        </div>
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorCedula" class="block text-sm font-medium text-gray-700 mb-1">Cédula del Codeudor</label>
                            {{ form.codeudorCedula }}
                        </div>
                    </div>
                    <div class="flex space-x-4">
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorEstabilidad" class="block text-sm font-medium text-gray-700 mb-1">Estabilidad Laboral</label>
                            {{ form.codeudorEstabilidad }}
                        </div>
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorReferenciasAPC" class="block text-sm font-medium text-gray-700 mb-1">Referencias APC</label>
                            {{ form.codeudorReferenciasAPC }}
                        </div>
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorLicencia" class="block text-sm font-medium text-gray-700 mb-1">Licencia de Conducir</label>
                            {{ form.codeudorLicencia }}
                        </div>
                    </div>
                    <div class="flex space-x-4">
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorEmpresa" class="block text-sm font-medium text-gray-700 mb-1">Empresa</label>
                            {{ form.codeudorEmpresa }}
                        </div>
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorCartera" class="block text-sm font-medium text-gray-700 mb-1">Cartera</label>
                            {{ form.codeudorCartera }}
                        </div>
                    </div>
                    <div class="flex space-x-4">
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorIngresos" class="block text-sm font-medium text-gray-700 mb-1">Ingresos</label>
                            {{ form.codeudorIngresos }}
                        </div>
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorPosicion" class="block text-sm font-medium text-gray-700 mb-1">Posición</label>
                            {{ form.codeudorPosicion }}
                        </div>
                    </div>

                    <h3 class="text-lg leading-6 font-medium text-gray-900">Codeudor - Historial Laboral</h3>
                    <div class="flex space-x-4">
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorNombreEmpres1" class="block text-sm font-medium text-gray-700 mb-1">Nombre de la Empresa</label>
                            {{ form.codeudorNombreEmpres1 }}
                        </div>
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorPeriodo1" class="block text-sm font-medium text-gray-700 mb-1">Período Laborado</label>
                            {{ form.codeudorPeriodo1 }}
                        </div>
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorSalario1" class="block text-sm font-medium text-gray-700 mb-1">Salario</label>
                            {{ form.codeudorSalario1 }}
                        </div>
                    </div>
                    <div class="flex space-x-4">
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorNombreEmpres2" class="block text-sm font-medium text-gray-700 mb-1">Nombre de la Empresa</label>
                            {{ form.codeudorNombreEmpres2 }}
                        </div>
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorPeriodo2" class="block text-sm font-medium text-gray-700 mb-1">Período Laborado</label>
                            {{ form.codeudorPeriodo2 }}
                        </div>
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorSalario2" class="block text-sm font-medium text-gray-700 mb-1">Salario</label>
                            {{ form.codeudorSalario2 }}
                        </div>
                    </div>
                    <div class="flex space-x-4">
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorNombreEmpres3" class="block text-sm font-medium text-gray-700 mb-1">Nombre de la Empresa</label>
                            {{ form.codeudorNombreEmpres3 }}
                        </div>
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorPeriodo3" class="block text-sm font-medium text-gray-700 mb-1">Período Laborado</label>
                            {{ form.codeudorPeriodo3 }}
                        </div>
                        <div class="flex-1 mb-4">
                            <label for="id_codeudorSalario3" class="block text-sm font-medium text-gray-700 mb-1">Salario</label>
                            {{ form.codeudorSalario3 }}
                        </div>
                    </div>
                </div>
        </div>
            <!-- fin detalles codeudor-->
             <!-- Nivel de Endeudamiento - Familiar-->
             <div id="sectionNivelEndeudamientoFamiliar" class="flex-1 p-1 rounded-lg" style="display: none;">
       

        
                <table class="min-w-full divide-y divide-gray-200 border border-gray-400" id="cotableIngresosAdicionales">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-xs uppercase bg-black text-white">Ingresos Adicionales</th>
                        <th scope="col" class="px-6 py-3 text-xs uppercase bg-black text-white">Monto Mensual</th>
                        <th scope="col" class="px-6 py-3 text-xs uppercase bg-black text-white">Aplica Dcto. Legal</th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">Horas extras</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                        {{form.cohorasExtrasMonto}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                        {{form.cohorasExtrasDcto}}
                        </td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">Prima de producción</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                        {{form.coprimaMonto}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                        {{form.coprimaDcto}}
                        </td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">Bonos</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                        {{form.cobonosMonto}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                        {{form.cobonosDcto}}
                        </td>
                    </tr>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">Otros</td>
                        <td class="px-6 py-4 whitespace-nowrap">
                        {{form.cootrosMonto}}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                        {{form.cootrosDcto}}
                        </td>
                    </tr>
                    </tbody>
                    <tfoot class="bg-gray-50">
                    <tr>
                        <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">Total</td>
                        <td id="id_cototalIngresosAdicionales" class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">
                        {{form.cototalIngresosAdicionales}}
                        </td>
                        <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider"></td>
                    </tr>
                    </tfoot>
                </table>
        
           
                <div class="flex flex-col md:flex-row md:space-x-4 mt-5">
                    <div class="flex-1">
                        <!--DESCUENTOS DIRECTO-->
                        <h1 class="text-lg font-bold mb-4 text-center">Descuentos Directos - Codeudor</h1>
                        <table class="min-w-full divide-y divide-gray-200 border border-gray-400" id="cotableDescuentoDirecto">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-xs uppercase bg-black text-white">DESCRIPCIÓN</th>
                                    <th scope="col" class="px-6 py-3 text-xs uppercase bg-black text-white">MONTO MENSUAL</th>
                                    <th scope="col" class="px-6 py-3 text-xs uppercase bg-black text-white">¿ES PAGADO?</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">SIACAP</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.cosiacapMonto}}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.cosiacapDcto}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">PRAA</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copraaMonto}}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copraaDcto}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">{{form.codirOtros1}}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.codirOtrosMonto1}}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.codirOtrosDcto1}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">{{form.codirOtros2}}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.codirOtrosMonto2}}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.codirOtrosDcto2}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">{{form.codirOtros3}}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.codirOtrosMonto3}}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.codirOtrosDcto3}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">{{form.codirOtros4}}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.codirOtrosMonto4}}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.codirOtrosDcto4}}
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="bg-gray-50">
                                <tr>
                                    <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">Total</td>
                                    <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">
                                        
                                    </td>
                                    <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="flex-1">
                        <!--PAGOS VOLUNTARIOS-->
                        <h1 class="text-lg font-bold mb-4 text-center">Pagos Voluntarios - Codeudor</h1>
                        <table class="min-w-full divide-y divide-gray-200 border border-gray-400"  id="cotablePagosVoluntarios">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-xs uppercase bg-black text-white">DESCRIPCIÓN</th>
                                    <th scope="col" class="px-6 py-3 text-xs uppercase bg-black text-white">MONTO MENSUAL</th>
                                    <th scope="col" class="px-6 py-3 text-xs uppercase bg-black text-white">¿ES PAGADO?</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">{{form.copagoVoluntario1}}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copagoVoluntarioMonto1}}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copagoVoluntarioDcto1}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">{{form.copagoVoluntario2}}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copagoVoluntarioMonto2}}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copagoVoluntarioDcto2}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">{{form.copagoVoluntario3}}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copagoVoluntarioMonto3}}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copagoVoluntarioDcto3}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">{{form.copagoVoluntario4}}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copagoVoluntarioMonto4}}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copagoVoluntarioDcto4}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">{{form.copagoVoluntario5}}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copagoVoluntarioMonto5}}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copagoVoluntarioDcto5}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">{{form.copagoVoluntario6}}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copagoVoluntarioMonto6}}
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {{form.copagoVoluntarioDcto6}}
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="bg-gray-50">
                                <tr>
                                    <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">Total</td>
                                    <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">
                                        
                                    </td>
                                    <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
        
        
            </div>

            <!-- fin nivel familiar codeudor-->
        </div>

        <!--Boton guardado-->
        <div class="flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2">
            <button type="button" class="inline-flex text-white items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 bg-black text-primary-foreground hover:bg-black/90 h-10 px-4 py-2" onclick="closecodeudorModal()">Guardar</button>
        </div>
    </div>
</div>


<script>
    function opencodeudorModal() {
        document.getElementById('codeudorModal').classList.remove('hidden');
    }
    function closecodeudorModal() {
        document.getElementById('codeudorModal').classList.add('hidden');
    }

</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const aplicaFiadorSelect = document.getElementById('id_aplicaCodeudor');
        const sectionDetallesCodeudor = document.getElementById('sectionDetallesCodeudor');
        const sectionNivelEndeudamientoFamiliar = document.getElementById('sectionNivelEndeudamientoFamiliar');

        aplicaFiadorSelect.addEventListener('change', function() {
            if (aplicaFiadorSelect.value === 'si') {
                sectionDetallesCodeudor.style.display = 'block';
                sectionNivelEndeudamientoFamiliar.style.display = 'block';

            } else {
                sectionDetallesCodeudor.style.display = 'none';
                sectionNivelEndeudamientoFamiliar.style.display = 'none';
            }
        });
    });
</script>

<script>
    document.addEventListener('input', function() {
        const table = document.getElementById('cotableIngresosAdicionales');
        let total = 0;
        table.querySelectorAll('tbody tr').forEach(row => {
            const monto = parseFloat(row.cells[1].querySelector('input').value) || 0;
            total += monto;
        });
        document.getElementById('id_cototalIngresosAdicionales').innerText = total.toFixed(2);
        });

    function toggleNivelEndeudamientoFamiliarSection() {
        const section = document.getElementById('sectionNivelEndeudamientoFamiliar');
        const checkbox = document.getElementById('toggleNivelEndeudamientoFamiliar');
        if (checkbox.checked) {
            section.style.display = 'block';
        } else {
            section.style.display = 'none';
        }
    }

    function calculateCoTotalDescuentoDirecto() {
        const table = document.getElementById('cotableDescuentoDirecto');
        const rows = table.getElementsByTagName('tr');
        let total = 0;
        for (let i = 1; i < rows.length - 1; i++) {
            const row = rows[i];
            const cells = row.getElementsByTagName('td');
            const monto = parseFloat(cells[1].getElementsByTagName('input')[0].value) || 0;
            total += monto;
        }
        rows[rows.length - 1].getElementsByTagName('td')[1].textContent = total;
        console.log("Total:", total);
        return total;
    }

    function calculateCoTotalPagosVoluntarios() {
        const table = document.getElementById('cotablePagosVoluntarios');
        const rows = table.getElementsByTagName('tr');
        let total = 0;
        for (let i = 1; i < rows.length - 1; i++) {
            const row = rows[i];
            const cells = row.getElementsByTagName('td');
            const monto = parseFloat(cells[1].getElementsByTagName('input')[0].value) || 0;
            total += monto;
        }
        rows[rows.length - 1].getElementsByTagName('td')[1].textContent = total;
        console.log("Total:", total);
        return total;
    }

    document.addEventListener('DOMContentLoaded', function() {
        const inputs = document.querySelectorAll('#cotableDescuentoDirecto input');
        inputs.forEach(function(input) {
            input.addEventListener('input', calculateCoTotalDescuentoDirecto);
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        const inputs = document.querySelectorAll('#cotablePagosVoluntarios input');
        inputs.forEach(function(input) {
            input.addEventListener('input', calculateCoTotalPagosVoluntarios);
        });
    });

    calculateCoTotalDescuentoDirecto();
    calculateCoTotalPagosVoluntarios();

</script>