<!-- filepath: /Users/andresrdrgz_/Documents/PACIFICO/financiera/pacifico/templates/registration/password_change.html -->
{% extends "base.html" %}

{% block title %}
Cambiar Contraseña
{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white shadow-lg rounded-lg p-4">
    <h1 class="text-2xl font-bold mb-4">Cambiar Contraseña</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Cambiar Contraseña</button>
    </form>
</div>
{% endblock %}