<!-- filepath: /Users/andresrdrgz_/Documents/PACIFICO/financiera/pacifico/templates/aseguradora_form.html -->
{% extends "base.html" %}

{% block title %}
Nueva Aseguradora
{% endblock %}

{% block content %}
<div class="max-w-full mx-auto bg-white shadow-lg rounded-lg p-4">
    <h1 class="text-2xl font-bold mb-4">Nueva Aseguradora</h1>
    <form method="post">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {{ form.as_p }}
        </div>
        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Guardar</button>
    </form>
</div>
{% endblock %}