<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Course Management System{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body class="bg-blue-50 flex flex-col min-h-screen">
    <!-- Header or Navbar -->
     <!-- Navbar -->
     <nav class="bg-[#22a650] shadow-md py-1">
        <div class="container mx-auto flex justify-between items-center">
           <!-- Logo -->
<div class="flex items-center space-x-2">
    <!-- Logo Link -->
    <a  class="font-bold text-xl text-gray-900" href="{% url 'main_menu' %}">
        <img src="https://financierapacifico.hiringroom.com/data/accounts/financierapacifico/microsite/82beb893f23ee0cd83a2b7879db16a1c.png"
        alt="Logo Home.png"
        style="width:109px;height:45px;object-fit:cover" 
        width="109" 
        height="45" 
        >
    </a>  <!-- Adjust 'home' to your root URL name -->
   
</div>

          


               
                <!--Username-->
                <div class="flex items-center space-x-4">
                    <span class="text-white mr-4">{{ user.username }}</span>
                </div>
            </div>
        </div>
    </nav>
    
    
    <!-- Main content block -->
    <main class="container mx-auto mt-10 flex-grow">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </main>
    
    <!-- Footer -->
    <footer class="py-4 bg-[#232323] text-white text-center mt-10">
        <p class="tracking-tight text-white md:text-lg dark:text-white-400">Plataforma en versión de prueba. Favor comunicar cualquier error o anomalía al departamento de Procesos (glpi_procesos@fpacifico.com)</p>
        <div class="text-center mt-4 mb-2">
            <a href="https://forms.gle/r1hHcxUdE6MVppvR7" target="_blank">
                <button type="button" class="focus:outline-none text-black bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">¡Reportar incidencia!</button>
            </a>

        </div>
        
        
    </footer>

</body>
</html>