<!-- filepath: /Users/andresrdrgz_/Documents/PACIFICO/financiera/pacifico/templates/cliente_profile.html -->
{% extends "base.html" %}

{% block title %}
Perfil del Cliente
{% endblock %}

{% block content %}
<div class="max-w-full mx-auto bg-white shadow-lg rounded-lg p-4">
    <div class="flex items-center p-4 mb-3 text-sm rounded-lg bg-yellow-100 border border-yellow-400">
        <span class="font-medium text-yellow-700 inline-block">
            ⚠️ Esta ventana y sus funciones se encuentran actualmente en desarrollo.
        </span>
    </div>
    <div class="flex justify-between items-center mb-2">
        
        <h1 class="text-2xl font-bold mb-4">Perfil del Cliente</h1>
        <!-- Add any additional elements here if needed -->
    </div>

    <h2 class="text-xl font-bold mb-4">Datos Generales</h2>

    <form method="post" class="mb-4">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {{ form.as_p }}
        </div>
        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Guardar Cambios</button>
    </form>

    <h2 class="text-xl font-bold mb-4">Cotizaciones Asociadas</h2>
    <div class="relative overflow-x-auto sm:rounded-lg border border-gray-200">
        <div class="overflow-y-auto" style="max-height: 400px;">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-white uppercase sticky top-0" style="background-color: #22a650;">
                    <tr>
                        <th scope="col" class="px-2 py-3 w-1/12">Cotización</th>
                        <th scope="col" class="px-6 py-3">Marca</th>
                        <th scope="col" class="px-6 py-3">Modelo</th>
                        <th scope="col" class="px-6 py-3">Plazo</th>
                        <th scope="col" class="px-6 py-3">Tasa (%)</th>
                        <th scope="col" class="px-6 py-3 w-1/12">Total Financiado</th>
                        <th scope="col" class="px-6 py-3">Fecha Cotización</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cotizacion in cotizaciones %}
                    <tr class="odd:bg-white even:bg-gray-50 hover:bg-gray-200 cursor-pointer">
                        <td class="px-6 py-4">{{ cotizacion.NumeroCotizacion }}</td>
                        <td class="px-6 py-4">{{ cotizacion.marca }}</td>
                        <td class="px-6 py-4">{{ cotizacion.modelo }}</td>
                        <td class="px-6 py-4">{{ cotizacion.plazoPago }}</td>
                        <td class="px-6 py-4">%{{ cotizacion.tasaEstimada }}</td>
                        <td class="px-6 py-4">${{ cotizacion.auxMonto2 }}</td>
                        <td class="px-6 py-4">{{ cotizacion.created_at|date:"d/m/Y" }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="px-6 py-4 text-center text-gray-500">
                            No se encontraron cotizaciones asociadas.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}