{% extends 'base.html' %}

{% block title %}Main Menu{% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/locales-all.min.js" defer></script>

<!-- Main Container -->
<div class="max-w-full mx-auto bg-white shadow-lg rounded-lg p-4">
    <!-- Title Section -->
    {% load static %}
    <div class="mb-4 text-center">
        <h5 class="leading-none text-3xl font-bold text-gray-900 pb-2">¡Bienvenida, {{full_name}}!</h5>
        <!--<p class="text-gray-500 mt-2">¡Bienvenido otra vez! What would you like to do today?</p>-->
        <div class="flex items-center justify-center p-4 mb-3 text-sm rounded-lg bg-yellow-100 border border-yellow-400">
            <span class="font-medium text-yellow-700 text-center">
            Actualmente estás viendo el resumen de los últimos 15 días. Próximamente se añadirá función con más filtros e información.
            </span>
        </div>
    </div>

    
    
    <!-- KPI CARDS  -->
    <div id="kpiCards" class="overflow-x-auto mt-4 mb-4">
        {% include 'partials/dashboard/kpiCards.html' %}
    </div>

    <!-- Table-->
    <div id="cotizacionesChart" class="overflow-x-auto border shadow-md rounded-lg mt-4 mb-4">
        {% include 'partials/dashboard/cotizacionesChart.html' %}
        
        {% if is_staff %}
            <div id="oficialesChart" class="overflow-x-auto border shadow-md rounded-lg mt-4 mb-4">
                {% include 'partials/dashboard/oficialesChart.html' %}
            </div>
        {% endif %}
        
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-4 mb-4">
            <div id="carteraChart" class="overflow-x-auto border shadow-md rounded-lg mt-4 mb-4">
                {% include 'partials/dashboard/carteraChart.html' %}
            </div>

            <div id="rangoMontoChart" class="overflow-x-auto border shadow-md rounded-lg mt-4 mb-4">
                {% include 'partials/dashboard/rangoMontoChart.html' %}
            </div>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-4 mb-4">
            <!-- Marcas-->
            <div id="marcasChart" class="overflow-x-auto border shadow-md rounded-lg mt-4 mb-4">
            {% include 'partials/dashboard/marcasChart.html' %}
            </div>

            <!-- Modelos-->
            <div id="modelosChart" class="overflow-x-auto border shadow-md rounded-lg mt-4 mb-4">
            {% include 'partials/dashboard/modelosChart.html' %}
            </div>
        </div>

        <div id="vendedorChart" class="overflow-x-auto border shadow-md rounded-lg mt-4 mb-4">
            {% include 'partials/dashboard/vendedorChart.html' %}
        </div>
    </div>
</div>


<script>
    

    document.addEventListener('DOMContentLoaded', function() {
        const cotizacionesData = {{ cotizaciones_data|safe }};
        

        // Initial render
        renderCotizacionesAreaChart(cotizacionesData);
        {% if is_staff %}
            renderOficialesChart(cotizacionesData);
        {% endif %}
        renderMarcasChart(cotizacionesData);
        renderModelosChart(cotizacionesData);
        renderVendedorChart(cotizacionesData);
        renderCarteraChart(cotizacionesData);
        renderRangoMontoChart(cotizacionesData);

        // Calculate total and average values
        const totalCotizaciones = cotizacionesData.length;
        const totalClientes = new Set(cotizacionesData.map(cotizacion => cotizacion.cedulaCliente)).size;
        const days = new Set(cotizacionesData.map(cotizacion => cotizacion.FechaCreacion)).size;
        const promedioCotizaciones = (totalCotizaciones / days).toFixed(2);
        const promedioClientes = (totalClientes / days).toFixed(2);

        // Calculate cotizaciones and clientes made today
        const today = new Date().toISOString().split('T')[0];
        const cotizacionesHoy = cotizacionesData.filter(cotizacion => cotizacion.FechaCreacion.startsWith(today)).length;
        const clientesHoy = new Set(cotizacionesData.filter(cotizacion => cotizacion.FechaCreacion.startsWith(today)).map(cotizacion => cotizacion.cedulaCliente)).size;

        // Render the calculated values
        renderKPIs({
        cotizacionesTotal: totalCotizaciones,
        cotizacionesPromedio: promedioCotizaciones,
        clientesTotal: totalClientes,
        clientesPromedio: promedioClientes,
        cotizacionesHoy: cotizacionesHoy,
        clientesHoy: clientesHoy
        });
       
    });
</script>
{% endblock %}