{% extends 'base.html' %}
{% load static %}

{% block title %}Cotizador - Préstamo Personal{% endblock %}

{% block content %}


<div class="flex-1 flex flex-col">
    <form id="myForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <header class="bg-white border-b p-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold">Cotizador - Préstamo Personal</h1>
        <div class="flex items-center gap-2">
            <button class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3" type="button" id="radix-:r0:" aria-haspopup="menu" aria-expanded="false" data-state="closed">
                <span class="relative flex shrink-0 overflow-hidden rounded-full h-6 w-6 mr-2">
                    <span class="flex h-full w-full items-center justify-center rounded-full bg-muted">FP</span>
                </span>
                {{ user.username }}
            </button>
        </div>
       
        
    </header>
    {% include 'partials/cotBarraAccionPP.html' %}
    <main class="flex-1 overflow-auto p-6">
        

        {% include 'partials/resultadoPP.html' %}

        

        <!-- Div datos Generales-->
        {% include 'partials/cotdatosClientePP.html' %}

        <!-- Parametros de la cotizacion -->
        {% include 'partials/cotParametrosCotizacionPP.html' %}

         <!-- Parametros del calculo -->
        {% include 'partials/cotParametrosCalculo.html' %}

        {% include 'partials/validacionCampos.html' %}

        {% if iteration_data %}
        <!-- Totales-->
        <div class="flex-1 p-4 border bg-white rounded-lg mb-2">
            <h1 class="text-lg font-bold mb-2">Totales</h1>
            <div class="relative overflow-x-auto border my-2">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                           
                            <th scope="col" class="px-6 py-3">Total - Pagos</th>
                            <th scope="col" class="px-6 py-3">Total - Seguro</th>
                            <th scope="col" class="px-6 py-3">Total - FECI</th>
                            <th scope="col" class="px-6 py-3">Total - Interes</th>
                            <th scope="col" class="px-6 py-3">Total - Capital</th>
                            
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b border-gray-200">
                          
                            <td class="px-6 py-4">{{ resultado.tablaTotalPagos }}</td>
                            <td class="px-6 py-4">{{ resultado.tablaTotalSeguro }}</td>
                            <td class="px-6 py-4">{{ resultado.tablaTotalFeci }}</td>
                            <td class="px-6 py-4">{{ resultado.tablaTotalInteres }}</td>
                            <td class="px-6 py-4">{{ resultado.tablaTotalMontoCapital }}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        <div class="flex-1 p-4 border rounded-lg mb-2">
            <h1 class="text-lg font-bold mb-2">Amortizacion</h1>
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3">Secuencia</th>
                            <th scope="col" class="px-6 py-3">Fecha Vencimiento</th>
                            <th scope="col" class="px-6 py-3">Fecha Fin</th>
                            <th scope="col" class="px-6 py-3">Saldo Anterior</th>
                            <th scope="col" class="px-6 py-3">Monto Letra</th>
                            <th scope="col" class="px-6 py-3">Monto Seguro</th>
                            <th scope="col" class="px-6 py-3">Monto FECI</th>
                            <th scope="col" class="px-6 py-3">Monto Interes</th>
                            <th scope="col" class="px-6 py-3">Monto Capital</th>
                            <th scope="col" class="px-6 py-3">Saldo Actual</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in iteration_data %}
                            <tr class="bg-white border-b border-gray-200 {% if item.Secuencia == '1' %}bg-red-500{% endif %}">
                                <td class="px-6 py-4">{{ item.Secuencia }}</td>
                                <td class="px-6 py-4">{{ item.FechaVencimiento }}</td>
                                <td class="px-6 py-4">{{ item.FechaFin }}</td>
                                <td class="px-6 py-4">{{ item.Saldoanterior }}</td>
                                <td class="px-6 py-4">{{ item.MontoLetra }}</td>
                                <td class="px-6 py-4">{{ item.MontoSeguro }}</td>
                                <td class="px-6 py-4">{{ item.MontoFECI }}</td>
                                <td class="px-6 py-4">{{ item.MontoInteres }}</td>
                                <td class="px-6 py-4">{{ item.MontoCapital }}</td>
                                <td class="px-6 py-4">{{ item.SaldoActual }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

        <!-- Motivo de la consulta Modal -->
        {% include 'partials/modals/motivoConsulta.html' %}

        <!-- Detalles del deudor Modal -->
         {% include 'partials/modals/tape.html' %}

         <!-- Detalles del deudor Modal -->
         {% include 'partials/modals/deudorPP.html' %}

         <!-- Nivel de Endeudamiento Modal -->
         {% include 'partials/modals/codeudor.html' %}

         <!-- Prorrateo Modal -->
          {% include 'partials/modals/prorrateo.html' %}

           <!-- Movimientos Modal -->
           {% include 'partials/modals/movimientosBancarios.html' %}


          

          
         
       

    </main>

    </form>
</div>

    
        

   

    
   
   
    <!--Modal Patronos-->
    {% include 'partials/modals/patronoModal.html' %}
   

    <!-- Modal Vendedor-->
    {% include 'partials/modals/vendedorModal.html' %}
    


    <!-- Loading Animation -->
    <div 
        id="loading" 
        class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center hidden">
        <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-[#22a650] border-solid"></div>
    </div>

    {% include 'partials/sura.html' %}


    {% if not resultado%}
       <!--Validacion campos-->
    {% endif %}

  

   

    <script>
        
        //initialize field
       
      
      
        //ocultar campos
        //document.getElementById('divPatronoCodigo').style.display = 'none';
    
        function highlightEmptyRequiredFields() {
            const form = document.getElementById('myForm');
            const requiredFields = form.querySelectorAll('[required]');
    
            requiredFields.forEach(function(field) {
                if (!field.value.trim()) {
                    field.classList.add('border-yellow-500', 'bg-yellow-100');
                } else {
                    field.classList.remove('border-yellow-500', 'bg-yellow-100');
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function() {
            const fechaNacimientoInput = document.getElementById('id_fechaNacimiento');
            const edadInput = document.getElementById('id_edad');
            const fechaInicioPagoInput = document.getElementById('id_fechaInicioPago');
            const vendedorInput = document.getElementById('id_vendedor');
            
          
            const sexoField = document.getElementById('id_sexo');
            const colectivoCreditoField = document.getElementById('id_colectivoCredito');

            
            const patronoField = document.getElementById('id_patrono');


            highlightEmptyRequiredFields();

            const form = document.getElementById('myForm');
            form.addEventListener('input', function() {
                highlightEmptyRequiredFields();
            });
    
    
            window.addEventListener('load', function() {
                document.getElementById('loading').classList.add('hidden');
            });

                        if (patronoField) {
                            const deudorEmpresa = document.getElementById('id_deudorEmpresa'); // Define deudorEmpresa
                            patronoField.addEventListener('change', function() {
                                if (deudorEmpresa) {
                                    deudorEmpresa.value = patronoField.value;
                                }
                            });
                        }


            if (edadInput) {
                edadInput.addEventListener('input', function() {
                    const edad = parseInt(edadInput.value);
                    const sexo = document.getElementById('id_sexo').value;
                    const jubilado = document.getElementById('id_jubilado');
                    const comiCierre = document.getElementById('id_comiCierre');
                    console.log("edadInput: ", edad);
                    console.log("jubilado:", jubilado.value, "sexo:", sexo, "edad:", edad);
                    // Check if the person is jubilado, if sexo is masculino and edad is greater than 60 or if sexo is femenino and edad is greater than 55
                    if (sexo == 'MASCULINO' && edad >= 60 || sexo == 'FEMENINO' && edad >= 55) {
                        jubilado.value = "SI";
                        if (comiCierre) {
                            comiCierre.value = 12.5;
                        }
                    } else {
                        jubilado.value = "NO";
                        comiCierre.value = 20;
                    }
                    console.log("jubilado:", jubilado.value, "sexo:", sexo, "edad:", edad);
                });
            }

            if (fechaNacimientoInput && edadInput) {
                fechaNacimientoInput.addEventListener('change', function() {
                    const fechaNacimiento = new Date(fechaNacimientoInput.value);
                    const today = new Date();
                    let age = today.getFullYear() - fechaNacimiento.getFullYear();
                    const monthDiff = today.getMonth() - fechaNacimiento.getMonth();
                    if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < fechaNacimiento.getDate())) {
                        age--;
                    }
                    edadInput.value = age;
                    const sexo = document.getElementById('id_sexo').value;
                    const jubilado = document.getElementById('id_jubilado');
                    const comiCierre = document.getElementById('id_comiCierre');
                    console.log("fechaNacimientoInput: ", age);
                    console.log("jubilado:", jubilado.value, "sexo:", sexo, "edad:", age);
                    // Check if the person is jubilado, if sexo is masculino and edad is greater than 60 or if sexo is femenino and edad is greater than 55
                    if (sexo == 'MASCULINO' && age >= 60 || sexo == 'FEMENINO' && age >= 55) {
                        jubilado.value = "SI";
                        if (comiCierre) {
                            comiCierre.value = 12.5;
                        }
                    } else {
                        jubilado.value = "NO";
                        comiCierre.value = 20;
                    }
                    console.log("jubilado:", jubilado.value, "sexo:", sexo, "edad:", age);
                });
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            const jubilado = document.getElementById('id_jubilado');
            const comiCierre = document.getElementById('id_comiCierre');
        
            if (jubilado && comiCierre) {
                jubilado.addEventListener('change', function() {
                    if (jubilado.value === "SI") {
                        comiCierre.value = 12.5;
                    }else {
                        comiCierre.value = 20;
                    }
                });
            }
        });

          

            
    

    
        document.getElementById('myForm').addEventListener('submit', function(event) {
            document.getElementById('loading').classList.remove('hidden');
            const documentosData = collectDocumentData();
            const documentosDataInput = document.getElementById('documentos_data');
            documentosDataInput.value = JSON.stringify(documentosData);
        });
   
  
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('id_patrono').addEventListener('change', function() {
                document.getElementById('id_patronoCodigo').value = 9999;
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('id_cartera').addEventListener('change', function() {
                document.getElementById('cartera').value = document.getElementById('id_cartera').value;
            });
        });

        /*
        document.addEventListener('DOMContentLoaded', function() {
            const idCartera = document.getElementById('id_cartera');
            const cartera = document.getElementById('cartera');
            console.log("idCartera:", idCartera.value, "cartera:", cartera.value);
        
            if (idCartera && cartera) {
                // Set the value of 'cartera' to match 'id_cartera' on page load
                cartera.value = idCartera.value;
        
                // Add an event listener to update 'cartera' whenever 'id_cartera' changes
                idCartera.addEventListener('change', function() {
                    cartera.value = idCartera.value;
                });
            }
        });
        */

        document.addEventListener('DOMContentLoaded', function() {
            const idPatrono = document.getElementById('id_patrono');
            const nombreEmpresa = document.getElementById('id_nombreEmpresa');
        
            if (idPatrono && nombreEmpresa) {
                // Set the value of 'id_nombreEmpresa' to match 'id_patrono' on page load
                nombreEmpresa.value = idPatrono.value;
        
                // Add an event listener to update 'id_nombreEmpresa' whenever 'id_patrono' changes
                idPatrono.addEventListener('change', function() {
                    nombreEmpresa.value = idPatrono.value;
                });
            }
        });


        function toggleMotivoConsultaSection() {
            const section = document.getElementById('sectionMotivoConsulta');
            const checkbox = document.getElementById('toggleMotivoConsulta');
            if (checkbox.checked) {
                section.style.display = 'block';
            } else {
                section.style.display = 'none';
            }
        }



    </script>
{% endblock %}