<!-- Datos generales Section -->
<div class="rounded-lg border bg-white text-card-foreground shadow-sm mb-6" data-v0-t="card">
   <div class="flex flex-col space-y-1.5 p-6">
      <h3 class="text-2xl font-semibold leading-none tracking-tight">Datos del cliente</h3>
   </div>
   <div class="p-6 pt-0">
     <!--Div oficial sucursal-->
      <div class="grid gap-4">
       <div class="grid sm:grid-cols-2 gap-4">
         <div class="space-y-2">
            <label for="id_oficial" class="text-sm font-medium">Oficial</label>
            {{ form.oficial }}
         </div>
         <div class="space-y-2">
            <label for="id_sucursal" class="text-sm font-medium">Sucursal</label>
            {{ form.sucursal }}
         </div>
      </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
          <div class="space-y-2">
            <label for="id_nombreCliente" class="text-sm font-medium">Nombre del Cliente</label>
            {{ form.nombreCliente }}
          </div>
          <div class="space-y-2">
            <label for="id_tipoDocumento" class="text-sm font-medium">Tipo de Documento</label>
            {{ form.tipoDocumento }}
         </div>
          <div class="space-y-2">
            <label for="id_cedulaCliente" class="text-sm font-medium">Cédula del Cliente</label>
            {{ form.cedulaCliente }}
          </div>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
          <div class="space-y-2">
            <label for="id_fechaNacimiento" class="text-sm font-medium">Fecha de Nacimiento</label>
            {{ form.fechaNacimiento }}
          </div>
          <div class="space-y-2">
            <label for="id_edad" class="text-sm font-medium">Edad</label>
            {{ form.edad }}
         </div>
          <div class="space-y-2">
            <label for="id_sexo" class="text-sm font-medium">Sexo</label>
            {{ form.sexo }}
          </div>
          <div class="space-y-2">
            <label for="id_jubilado" class="text-sm font-medium">¿Tercera edad / Jubilado?</label>
            {{ form.jubilado }}
          </div>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
          <div class="space-y-2">
            <label for="id_aseguradora" class="text-sm font-medium">Colectivo de Crédito</label>
            {{ form.aseguradora }}
            {% if aseguradora %}
              <p class="text-sm text-gray-500">Aseguradora: {{ aseguradora }}</p>
            {% else %}
              <p class="text-sm text-gray-500">No hay aseguradora disponible</p>
            {% endif %}
          </div>
          <div class="space-y-2">
            <label for="id_apcScore" class="text-sm font-medium">Score</label>
            {{ form.apcScore }}
          </div>
          <div class="space-y-2">
            <label for="id_apcPI" class="text-sm font-medium">PI (%)</label>
            {{ form.apcPI }}
          </div>
        </div>
      </div>
   </div>
</div>
