        <!-- Detalles del deudor -->
        <div class="flex-1 p-4 border border-gray-400 rounded-lg mb-2">
            <div class="flex items-center ">
                <h1 class="text-lg font-bold">Detalles del Deudor</h1>
                <div class="ml-auto">
                    <label class="inline-flex items-center ms-5 cursor-pointer">
                        <input type="checkbox" id="toggleDetallesDeudor" class="sr-only peer" onchange="toggleDetallesDeudorSection()">
                        <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
                    </label>
                </div>
            </div>
            <div id="sectionDetallesDeudor" class="flex-1 p-4 rounded-lg mb-2" style="display: none;">
                <!-- Form Elements -->
                <div class="flex space-x-4">
                    <div class="flex-1 mb-4">
                        <label for="id_tiempoServicio" class="block text-sm font-medium text-gray-700 mb-1">Tiempo de Servicio</label>
                        {{ form.tiempoServicio }}
                    </div>
                    <div class="flex-1 mb-4">
                        <label for="id_ingresos" class="block text-sm font-medium text-gray-700 mb-1">Ingresos</label>
                        {{ form.ingresos }}
                    </div>
                </div>
                <div class="flex space-x-4">
                    <div class="flex-1 mb-4">
                        <label for="id_nombreEmpresa" class="block text-sm font-medium text-gray-700 mb-1">Nombre de la Empresa</label>
                        {{ form.nombreEmpresa }}
                    </div>
                    <div class="flex-1 mb-4">
                        <label for="id_referenciasAPC" class="block text-sm font-medium text-gray-700 mb-1">Referencias APC</label>
                        {{ form.referenciasAPC }}
                    </div>
                </div>
                <div class="flex space-x-4">
                    <div class="flex-1 mb-4">
                        <label for="cartera" class="block text-sm font-medium text-gray-700 mb-1">Cartera</label>
                        <input type="text" id="cartera" class="w-full bg-gray-100 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2" readonly>
                    </div>
                    <div class="flex-1 mb-4">
                        <label for="id_licencia" class="block text-sm font-medium text-gray-700 mb-1">Licencia de Conducir</label>
                        {{ form.licencia }}
                    </div>
                </div>
                <div class="flex space-x-4">
                    <div class="flex-1 mb-4">
                        <label for="id_posicion" class="block text-sm font-medium text-gray-700 mb-1">Posición</label>
                        {{ form.posicion }}
                    </div>
                    <div class="flex-1 mb-4">
                        <label for="id_perfilUniversitario" class="block text-sm font-medium text-gray-700 mb-1">Perfil / Título Universitario</label>
                        {{ form.perfilUniversitario }}
                    </div>
                </div>
                {% include 'partials/codeudor.html' %}
            </div>
        </div>

<script>
    function toggleDetallesDeudorSection() {
        const section = document.getElementById('sectionDetallesDeudor');
        const checkbox = document.getElementById('toggleDetallesDeudor');
        if (checkbox.checked) {
            section.style.display = 'block';
        } else {
            section.style.display = 'none';
        }
    }
</script>
