<div class="flex flex-col space-y-4 mb-2 mt-2 md:flex-row md:space-x-4 md:space-y-0">
                
                
    <button type="button"  class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700" onclick="openModal()">Buscar Patrono 🔍</button>
   
   <div class="flex-1 mb-4">
       <label for="id_Patrono" class="block text-sm font-medium text-gray-700 mb-1">Patrono</label>
       {{ form.patrono }}
   </div>
   <div class="flex-1 mb-4" id="divPatronoCodigo">
       <label for="id_patronoCodigo" class="block text-sm font-medium text-gray-700 mb-1">Código</label>
       {{ form.patronoCodigo }} 
   </div>
   <div class="flex-1 mb-4">
       <label for="id_cartera" class="block text-sm font-medium text-gray-700 mb-1">Cartera</label>
       {{ form.cartera }}
   </div>
  
   
</div>


<div class="flex space-x-4">
   <div class="flex-1 mb-4">
       <label for="id_formaPago" class="block text-sm font-medium text-gray-700 mb-1">Forma de Pago</label>
       {{ form.formaPago}}
   </div>
   <div class="flex-1 mb-4">
       <label for="id_periodoPago" class="block text-sm font-medium text-gray-700 mb-1">Periodo de Pago</label>
       {{ form.periodoPago }}
   </div>
</div>
<!--Campos vendedor-->
<div class="flex flex-col space-y-4 md:flex-row md:space-x-4 md:space-y-0">
   
   <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700" onclick="openModalVendedor()">Buscar Vendedor 🔍</button>
   
   <div class="flex-1 mb-4">
       <label for="id_vendedor" class="block text-sm font-medium text-gray-700 mb-1">Vendedor</label>
       {{ form.vendedor }}
   </div>
   <div class="flex-1 mb-4">
       <label for="id_vendedorComision" class="block text-sm font-medium text-gray-700 mb-1">Comisión del Vendedor ($)</label>
       {{ form.vendedorComision }}
   </div>
</div>