<div class="rounded-lg border bg-white text-card-foreground shadow-sm mb-6" data-v0-t="card">
    <div class="flex flex-col space-y-1.5 p-6">
       <h3 class="text-2xl font-semibold leading-none tracking-tight">Parámetros del Cálculo</h3>
    </div>
    <div class="p-6 pt-0">
       <div class="grid gap-6">


        <div class="flex-1 mb-1">
            <label for="id_tasaInteres" class="block text-sm font-medium text-red-700 mb-1">Tasa de interes (%)</label>
            {{ form.tasaInteres }}
        </div>
<div class="flex flex-col space-y-4 md:flex-row md:flex-wrap md:space-x-4 md:space-y-0">
    <button type="submit" class="bg-[#22a650] text-white px-4 py-2 rounded hover:bg-[#1e8a4b] md:w-full lg:w-auto">Calcular 💰</button>
    
    <div class="flex-1 mb-4 md:w-full lg:w-1/2">
        <label for="id_fechaInicioPago" class="block text-sm font-medium text-gray-700 mb-1">Fecha de Inicio de Pago</label>
        {{ form.fechaInicioPago }}
    </div>
    <div class="flex-1 mb-4 md:w-full lg:w-1/2">
        <label for="id_montoPrestamo" class="block text-sm font-medium text-gray-700 mb-1">Monto del Préstamo</label>
        {{ form.montoPrestamo }}
    </div>
    <div class="flex-1 mb-4 md:w-full lg:w-1/2">
        <label for="id_plazoPago" class="block text-sm font-medium text-gray-700 mb-1">Plazo</label>
        {{ form.plazoPago }}
    </div>
    <div class="flex-1 mb-4 md:w-full lg:w-1/2">
        <label for="id_comiCierre" class="block text-sm font-medium text-gray-700 mb-1">Comisión de Cierre (%)</label>
        {{ form.comiCierre }}
    </div>
    <div class="flex-1 mb-4 md:w-full lg:w-1/2">
        <label for="id_r_deseada" class="block text-sm font-medium text-red-700 mb-1">Rentabilidad deseada (%)</label>
        {{ form.r_deseada }}
    </div>
    <div class="flex-1 mb-4 md:w-full lg:w-1/2">
        <label for="id_comiCierre" class="block text-sm font-medium text-gray-700 mb-1">¿Aplica promoción?</label>
        {{ form.aplicaPromocion }}
    </div>
</div>
       </div>
    </div>
</div>







