<!-- Nivel de Endeudamiento -->
       
<div class="flex-1 p-4 border rounded-lg mb-2">
    <div class="flex items-center ">
        <h1 class="text-lg font-bold">Nivel de Endeudamiento - Familiar</h1>
        <div class="ml-auto">
            <label class="inline-flex items-center ms-5 cursor-pointer">
                <input type="checkbox" id="toggleNivelEndeudamientoFamiliar" class="sr-only peer" onchange="toggleNivelEndeudamientoFamiliarSection()">
                <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
            </label>
        </div>
    </div>
    <div id="sectionNivelEndeudamientoFamiliar" class="flex-1 p-1 rounded-lg" style="display: none;">
        <!--DEUDOR-->
        <div class="flex-1 mb-4">
            <label for="id_salarioBaseMensual" class="block text-sm font-medium text-gray-700 mb-1">Salario Base Mensual</label>
            {{ form.salarioBaseMensual }}
        </div>

        
        <table class="min-w-full divide-y divide-gray-200 border" id="cotableIngresosAdicionales">
            <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">Ingresos Adicionales</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">Monto Mensual</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">Aplica Dcto. Legal</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">Plan vehícular</td>
                <td class="px-6 py-4 whitespace-nowrap">
                {{form.cohorasExtrasMonto}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                {{form.cohorasExtrasDcto}}
                </td>
            </tr>
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">Prima de producción</td>
                <td class="px-6 py-4 whitespace-nowrap">
                {{form.coprimaMonto}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                {{form.coprimaDcto}}
                </td>
            </tr>
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">Bonos</td>
                <td class="px-6 py-4 whitespace-nowrap">
                {{form.cobonosMonto}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                {{form.cobonosDcto}}
                </td>
            </tr>
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">Otros</td>
                <td class="px-6 py-4 whitespace-nowrap">
                {{form.cootrosMonto}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                {{form.cootrosDcto}}
                </td>
            </tr>
            </tbody>
            <tfoot class="bg-gray-50">
            <tr>
                <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">Total</td>
                <td id="id_cototalIngresosAdicionales" class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">
                {{form.cototalIngresosAdicionales}}
                </td>
                <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider"></td>
            </tr>
            </tfoot>
        </table>

    <script>
       
    </script>

        <div class="flex space-x-4 mt-10">
            <div class="flex-1">
                <!--DESCUENTOS DIRECTO-->
                <h1 class="text-lg font-bold mb-2 text-center">Descuentos Directos</h1>
                <table class="min-w-full divide-y divide-gray-200 border" id="cotableDescuentoDirecto">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">DESCRIPCIÓN</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">MONTO MENSUAL</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">¿ES PAGADO?</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">SIACAP</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.cosiacapMonto}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.cosiacapDcto}}
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">PRAA</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copraaMonto}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copraaDcto}}
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{form.codirOtros1}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.codirOtrosMonto1}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.codirOtrosDcto1}}
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{form.codirOtros2}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.codirOtrosMonto2}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.codirOtrosDcto2}}
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{form.codirOtros3}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.codirOtrosMonto3}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.codirOtrosDcto3}}
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{form.codirOtros4}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.codirOtrosMonto4}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.codirOtrosDcto4}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="bg-gray-50">
                        <tr>
                            <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">Total</td>
                            <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">
                                
                            </td>
                            <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="flex-1">
                <!--PAGOS VOLUNTARIOS-->
                <h1 class="text-lg font-bold mb-2 text-center">Pagos Voluntarios</h1>
                <table class="min-w-full divide-y divide-gray-200 border"  id="cotablePagosVoluntarios">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">DESCRIPCIÓN</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">MONTO MENSUAL</th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">¿ES PAGADO?</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{form.copagoVoluntario1}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copagoVoluntarioMonto1}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copagoVoluntarioDcto1}}
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{form.copagoVoluntario2}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copagoVoluntarioMonto2}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copagoVoluntarioDcto2}}
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{form.copagoVoluntario3}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copagoVoluntarioMonto3}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copagoVoluntarioDcto3}}
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{form.copagoVoluntario4}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copagoVoluntarioMonto4}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copagoVoluntarioDcto4}}
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{form.copagoVoluntario5}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copagoVoluntarioMonto5}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copagoVoluntarioDcto5}}
                            </td>
                        </tr>
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{form.copagoVoluntario6}}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copagoVoluntarioMonto6}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {{form.copagoVoluntarioDcto6}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="bg-gray-50">
                        <tr>
                            <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">Total</td>
                            <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider">
                                
                            </td>
                            <td class="px-6 py-3 text-left text-xs font-medium text-black-500 uppercase tracking-wider"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>


    </div>
</div>

<script>
    document.addEventListener('input', function() {
        const table = document.getElementById('cotableIngresosAdicionales');
        let total = 0;
        table.querySelectorAll('tbody tr').forEach(row => {
            const monto = parseFloat(row.cells[1].querySelector('input').value) || 0;
            total += monto;
        });
        document.getElementById('id_cototalIngresosAdicionales').innerText = total.toFixed(2);
        });

    function toggleNivelEndeudamientoFamiliarSection() {
        const section = document.getElementById('sectionNivelEndeudamientoFamiliar');
        const checkbox = document.getElementById('toggleNivelEndeudamientoFamiliar');
        if (checkbox.checked) {
            section.style.display = 'block';
        } else {
            section.style.display = 'none';
        }
    }

    function calculateCoTotalDescuentoDirecto() {
        const table = document.getElementById('cotableDescuentoDirecto');
        const rows = table.getElementsByTagName('tr');
        let total = 0;
        for (let i = 1; i < rows.length - 1; i++) {
            const row = rows[i];
            const cells = row.getElementsByTagName('td');
            const monto = parseFloat(cells[1].getElementsByTagName('input')[0].value) || 0;
            total += monto;
        }
        rows[rows.length - 1].getElementsByTagName('td')[1].textContent = total;
        console.log("Total:", total);
        return total;
    }

    function calculateCoTotalPagosVoluntarios() {
        const table = document.getElementById('cotablePagosVoluntarios');
        const rows = table.getElementsByTagName('tr');
        let total = 0;
        for (let i = 1; i < rows.length - 1; i++) {
            const row = rows[i];
            const cells = row.getElementsByTagName('td');
            const monto = parseFloat(cells[1].getElementsByTagName('input')[0].value) || 0;
            total += monto;
        }
        rows[rows.length - 1].getElementsByTagName('td')[1].textContent = total;
        console.log("Total:", total);
        return total;
    }

    document.addEventListener('DOMContentLoaded', function() {
        const inputs = document.querySelectorAll('#cotableDescuentoDirecto input');
        inputs.forEach(function(input) {
            input.addEventListener('input', calculateCoTotalDescuentoDirecto);
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        const inputs = document.querySelectorAll('#cotablePagosVoluntarios input');
        inputs.forEach(function(input) {
            input.addEventListener('input', calculateCoTotalPagosVoluntarios);
        });
    });

    calculateCoTotalDescuentoDirecto();
    calculateCoTotalPagosVoluntarios();

</script>