<!--Resultado Nivel de Endeudamiento-->
<h1 class="text-lg font-bold mb-2">Codeudor - Nivel de Endeudamiento - Real</h1>
<div class="overflow-x-auto mt-2">
    <table class="w-full text-sm text-center border text-gray-500 mb-3">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    SALARIO MENSUAL
                </th>
                <th scope="col" class="px-6 py-3">
                    TOTAL - DESCUENTOS LEGALES
                </th>
                <th scope="col" class="px-6 py-3">
                    TOTAL - DESCUENTO DIRECTO
                </th>
                <th scope="col" class="px-6 py-3">
                    TOTAL - PAGO VOLUNTARIO
                </th>
                <th scope="col" class="px-6 py-3">
                    SALARIO NETO ACTUAL
                </th>
                <th scope="col" class="px-6 py-3">
                    LETRA MENSUAL
                </th>
                <th scope="col" class="px-6 py-3">
                    PORCENTAJE DE LETRA
                </th>
                <th scope="col" class="px-6 py-3 bg-black text-white">
                    Salario Neto
                </th>
                <th scope="col" class="px-6 py-3 bg-black text-white">
                    Nivel de Endeudamiento - Real
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b">
                <td class="px-6 py-4">
                    ${{resultado.cosalarioBaseMensual}}
                </td>
                <td class="px-6 py-4 text-red-700">
                    ${{resultado.cototalDescuentosLegales}} 
                </td>
                <td class="px-6 py-4 text-red-700">
                    ${{resultado.cototalDescuentoDirecto}}
                </td>
                <td class="px-6 py-4 text-red-700">
                    ${{resultado.cototalPagoVoluntario}}
                </td>
                <td class="px-6 py-4">
                    ${{resultado.cosalarioNetoActual}}
                </td>
                <td class="px-6 py-4">
                    ${{resultado.wrkLetraConSeguros}}
                </td>
                <td class="px-6 py-4">
                    %{{resultado.coporcentajeLetraSeguro}}
                </td>
                <td class="px-6 py-4 font-bold text-green-700">
                    ${{resultado.cosalarioNeto}}
                </td>
                <td class="px-6 py-4 font-bold text-green-700">
                    %{{resultado.coporSalarioNeto}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--Resultado Nivel de Endeudamiento-->
<h1 class="text-lg font-bold mb-2">Codeudor - Nivel de Endeudamiento - Completo</h1>
<div class="overflow-x-auto mt-2">
    <table class="w-full text-sm text-center border text-gray-500 mb-3">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    SALARIO MENSUAL
                </th>
                <th scope="col" class="px-6 py-3">
                   TOTAL - INGRESOS ADICIONALES
                </th>
                <th scope="col" class="px-6 py-3">
                    TOTAL - INGRESOS Mensuales
                </th>
                <th scope="col" class="px-6 py-3">
                    TOTAL - DESCUENTOS LEGALES
                </th>
                <th scope="col" class="px-6 py-3">
                    TOTAL - DESCUENTO DIRECTO
                </th>
                <th scope="col" class="px-6 py-3">
                    TOTAL - PAGO VOLUNTARIO
                </th>
                <th scope="col" class="px-6 py-3">
                    SALARIO NETO ACTUAL
                </th>
                <th scope="col" class="px-6 py-3">
                    LETRA MENSUAL
                </th>
                <th scope="col" class="px-6 py-3">
                    PORCENTAJE DE LETRA
                </th>
                <th scope="col" class="px-6 py-3 bg-black text-white">
                    Salario Neto
                </th>
                <th scope="col" class="px-6 py-3 bg-black text-white">
                    Nivel de Endeudamiento - Completo
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b">
                <td class="px-6 py-4">
                    ${{resultado.cosalarioBaseMensual}}
                </td>
                <td class="px-6 py-4">
                    ${{resultado.cototalIngresosAdicionales}} 
                </td>
                <td class="px-6 py-4">
                    ${{resultado.cototalIngresosMensualesCompleto}} 
                </td>
                <td class="px-6 py-4 text-red-700">
                    ${{resultado.cototalDescuentosLegalesCompleto}} 
                </td>
                <td class="px-6 py-4 text-red-700">
                    ${{resultado.cototalDescuentoDirecto}}
                </td>
                <td class="px-6 py-4 text-red-700">
                    ${{resultado.cototalPagoVoluntario}}
                </td>
                <td class="px-6 py-4">
                    ${{resultado.cosalarioNetoActualCompleto}}
                </td>
                <td class="px-6 py-4">
                    ${{resultado.wrkLetraConSeguros}}
                </td>
                <td class="px-6 py-4">
                    %{{resultado.coporcentajeLetraSeguroCompleto}}
                </td>
                <td class="px-6 py-4 font-bold text-green-700">
                    ${{resultado.cosalarioNetoCompleto}}
                </td>
                <td class="px-6 py-4 font-bold text-green-700">
                    %{{resultado.coporSalarioNetoCompleto}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<h1 class="text-lg font-bold mb-2">Familiar - Nivel de Endeudamiento</h1>
<div class="overflow-x-auto mt-2">
    <table class="w-full text-sm text-center border text-gray-500 mb-3">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th class="px-6 py-3"></th>
                <th class="px-6 py-3 text-center" colspan="2">Nivel Real</th>
                <th class="px-6 py-3 text-center" colspan="2">Nivel Completo</th>
            </tr>
            <tr>
                <th class="px-6 py-3"></th>
                <th class="px-6 py-3 text-center">Monto</th>
                <th class="px-6 py-3 text-center">Porcentaje</th>
                <th class="px-6 py-3 text-center">Monto</th>
                <th class="px-6 py-3 text-center">Porcentaje</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b">
                <td class="px-6 py-4">SALARIO NETO ACTUAL</td>
                <td class="px-6 py-4 text-right">${{resultado.familiarSalarioBaseMensual}}</td>
                <td class="px-6 py-4 text-center">%{{resultado.familiarporNetoActual}}</td>
                <td class="px-6 py-4 text-right">${{resultado.familiarNetoActualCompleto}}</td>
                <td class="px-6 py-4 text-center">%{{resultado.familiarporNetoActualCompleto}}</td>
            </tr>
            <tr class="bg-white border-b">
                <td class="px-6 py-4">NUEVA LETRA MENSUAL</td>
                <td class="px-6 py-4 text-right">${{resultado.wrkLetraConSeguros}}</td>
                <td class="px-6 py-4 text-center">%{{resultado.porcentajeLetraSeguro}}</td>
                <td class="px-6 py-4 text-right">${{resultado.wrkLetraConSeguros}}</td>
                <td class="px-6 py-4 text-center">%{{resultado.porcentajeLetraSeguroCompleto}}</td>
            </tr>
            <tr class="bg-white border-b">
                <td class="px-6 py-4">SALARIO NETO</td>
                <td class="px-6 py-4 text-right">${{resultado.familiarSalarioNeto}}</td>
                <td class="px-6 py-4 text-center">%{{resultado.familiarpoSalarioNeto}}</td>
                <td class="px-6 py-4 text-right">${{resultado.familiarSalarioNetoCompleto}}</td>
                <td class="px-6 py-4 text-center">%{{resultado.familiarporSalarioNeto}}</td>
            </tr>
        </tbody>
    </table>
</div>